<launch>
	  
	<include file="$(find ros_ethernet_rmp)/launch/ros_ethernet_rmp.launch">
	<!-- If using visual odometry (vo), set publish_tf to false (defaults to true)-->
	<!-- <param name="publish_tf" value="false" /> -->
	</include>
	
	<!-- Segway battery monitor -->
	<include file="$(find battery_monitor_rmp)/launch/battery_monitor_rmp.launch" />
	
</launch>
