<!--
   Author: David Kent, Worcester Polytechnic Institute
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: August 4, 2014
-->

<launch>
  <!-- launch Segway with default parameters, except for the config_bitmap which allows the base to be turned on
  while it's charging -->
  <include file="$(find ros_ethernet_rmp)/launch/ros_ethernet_rmp.launch">
    <arg name="config_bitmap" value="9" />
  </include>
</launch>
