<!--
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: March 27, 2015
-->

<launch>
  <include file="$(find rail_pick_and_place_tools)/launch/model_generation_backend.launch">
    <!-- RobotsFor.Me IP Address -->
    <arg name="host" value="130.215.28.159" />
    <arg name="password" value="$(env GRASPDB_PW)" />
    <arg name="eef_frame_id" value="jaco_link_eef" />
    <arg name="gripper_action_server" value="/jaco_arm/manipulation/gripper" />
    <arg name="lift_action_server" value="/jaco_arm/manipulation/lift" />
    <arg name="segmented_objects_topic" value="/rail_segmentation/segmented_objects" />
  </include>

  <node name="rail_segmentation" pkg="rail_segmentation" type="rail_segmentation" respawn="false" output="screen">
    <param name="zones_config" value="$(find rail_segmentation)/config/zones-no-map.yaml" />
  </node>
</launch>
