<!--
   Author: David Kent, Worcester Polytechnic Institute
   Author: Steven Kordell, Worcester Polytechnic Institute
   Author: Russell Toris, Worcester Polytechnic Institute
   Author: Brian Hetherman, Worcester Polytechnic Institute
  Version: July 24, 2014
-->

<launch>
  <arg name="linear_throttle_factor_base" default="0.9" />
  <arg name="angular_throttle_factor_base" default="0.75" />
  <arg name="linear_throttle_factor_arm" default="1.0" />
  <arg name="angular_throttle_factor_arm" default="1.0" />
  <arg name="finger_throttle_factor" default="1.0" />
  <arg name="controller_type" default="digital" />
  <arg name="use_teleop_safety" default="false" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="deadzone" type="double" value="0.033" />
    <param name="autorepeat_rate" type="double" value="30" />
    <param name="coalesce_interval" type="double" value="0.033" />
  </node>
  <node pkg="carl_teleop" type="carl_joy_teleop" name="carl_joy_telep" output="screen">
    <param name="linear_throttle_factor_base" type="double" value="$(arg linear_throttle_factor_base)" />
    <param name="angular_throttle_factor_base" type="double" value="$(arg angular_throttle_factor_base)" />
    <param name="linear_throttle_factor_arm" type="double" value="$(arg linear_throttle_factor_arm)" />
    <param name="angular_throttle_factor_arm" type="double" value="$(arg angular_throttle_factor_arm)" />
    <param name="finger_throttle_factor" type="double" value="$(arg finger_throttle_factor)" />
    <param name="controller_type" type="string" value="$(arg controller_type)" />
    <param name="use_teleop_safety" type="bool" value="$(arg use_teleop_safety)" />
  </node>
</launch>
