<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
        xmlns:xacro="http://ros.org/wiki/xacro">
        
  <xacro:include filename="$(find carl_description)/urdf/components/carl_wheel.urdf.xacro" />
  <xacro:include filename="$(find carl_description)/urdf/components/carl_caster_assembly.urdf.xacro" />
  <xacro:include filename="$(find carl_description)/urdf/sensors/hokuyo.urdf.xacro" />
  <xacro:include filename="$(find carl_description)/urdf/carl_base/carl_superstructure.urdf.xacro" />
  <xacro:include filename="$(find carl_description)/urdf/carl_base/carl_covers.urdf.xacro" />
  <xacro:include filename="$(find carl_description)/urdf/carl_base/carl_camera_mount.urdf.xacro" />

  <xacro:macro name="carl_base" params="name">
  
    <xacro:carl_superstructure/>
    <xacro:carl_camera_mount/>
    <xacro:carl_covers name="${name}"/>
  
    <link name="${name}_link">
     <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://carl_description/meshes/base.dae" />
        </geometry>
      </visual>
    </link>
      
    <!-- left wheel -->
    <xacro:carl_wheel suffix="left" parent="${name}_link">
      <origin xyz="0 0.25 0" rpy="-1.5708 0 0" />
    </xacro:carl_wheel>

    <!-- right wheel -->
    <xacro:carl_wheel suffix="right" parent="${name}_link">
      <origin xyz="0 -0.25 0" rpy="1.5708 0 0" />
    </xacro:carl_wheel>
    
    <!-- caster assembly -->
    <xacro:carl_caster_assembly parent="${name}_link">
      <origin xyz="0.2883 0 0" rpy="0 0 0" />
    </xacro:carl_caster_assembly>
      
    <!-- hokuyo -->
    <xacro:hokuyo parent="caster_plate_link">  
      <origin xyz="0.07 0 0.035" rpy="0 0 0" />
    </xacro:hokuyo>

  </xacro:macro>

</robot>