<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">
       
  <!-- Xacro properties -->
  <xacro:property name="M_SCALE" value="0.0254" />
  <xacro:property name="M_PI" value="3.1415926535897931" /> 

  <xacro:include filename="$(find carl_description)/urdf/components/carl_rear_strut.urdf.xacro" />

  <xacro:macro name="carl_frame" params="parent">

   <!-- Rear Struts -->
   <xacro:carl_rear_strut prefix="right" parent="${parent}">
     <origin xyz="-0.222 -0.200 -0.102" rpy="0 0 ${M_PI}" />
   </xacro:carl_rear_strut>
   <xacro:carl_rear_strut prefix="left" parent="${parent}">
     <origin xyz="-0.222 0.200 -0.102" rpy="0 0 0" />
   </xacro:carl_rear_strut>

    <!-- Top Plate -->
    <joint name="${parent}_top_plate_link_joint" type="fixed">
      <parent link="${parent}" />
      <child link="top_plate_link" />
      <origin xyz="0.294 0 0.496" rpy="0 0 0" />
    </joint>
    <link name="top_plate_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 -${M_PI/2}" />
        <geometry>
          <mesh scale="${M_SCALE} ${M_SCALE} ${M_SCALE}" filename="package://carl_description/meshes/top_plate.min.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.28 0.0 -.0031" rpy="0 0 -${M_PI/2}" />
        <geometry>
          <box size="0.5842 0.5 0.0066"/>
        </geometry>
      </collision>
      
      <collision>
        <origin xyz="-.005 0.127 -.0031" rpy="0 0 -1.25" />
        <geometry>
          <box size="0.325 0.14 0.0066"/>
        </geometry>
      </collision>

      <collision>
        <origin xyz="-.005 -0.127 -.0031" rpy="0 0 1.25" />
        <geometry>
          <box size="0.325 0.14 0.0066"/>
        </geometry>
      </collision>

    </link>

    <!-- JACO Mount -->
    <joint name="top_plate_link_jaco_mount_link_joint" type="fixed">
      <parent link="top_plate_link" />
      <child link="jaco_mount_link" />
      <origin xyz="0 0 -0.130" rpy="0 0 ${M_PI/2}" />
    </joint>
    <link name="jaco_mount_link">
      <visual>      
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh scale="${M_SCALE} ${M_SCALE} ${M_SCALE}" filename="package://carl_description/meshes/jaco_mount.min.dae" />
        </geometry>
      </visual>
      <collision>      
        <origin xyz="0 0 -0.0127" rpy="0 0 0" />
        <geometry>
         <!-- <mesh scale="${M_SCALE} ${M_SCALE} ${M_SCALE}" filename="package://carl_description/meshes/jaco_mount.stl" /> -->
         <box size="0.2286 0.0508 0.0254"/>
        </geometry>
      </collision>
    </link>
  
    <!-- ASUS Camera Lift -->
    <joint name="left_rear_strut_top_link_asus_lift_link_joint" type="fixed">
      <parent link="left_rear_strut_top_link" />
      <child link="asus_lift_link" />
      <origin xyz="0.013 -0.201 0.483" rpy="0 0 0" />
    </joint>
    <link name="asus_lift_link">
      <visual>      
        <origin xyz="0 0 0" rpy="0 ${M_PI/2} ${M_PI/2}" />
        <geometry>
          <mesh scale="${M_SCALE} ${M_SCALE} ${M_SCALE}" filename="package://carl_description/meshes/camera_lift.min.dae" />
        </geometry>
      </visual>
      <collision>      
        <origin xyz="-0.0127 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.027 0.454 0.054" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>